<%- include('partials/login') %>

    <form style="margin: 9rem 20rem;" action="/forgot_sendmail" method="POST">
        <h1 style="color: #dc8cdb;">Forgot Password</h1><br><br>
        <div class="input-group mb-3">
            <!-- <label for="email">Email </label> -->
            <span class="input-group-text" id="basic-addon1">Email</span>
                <input type="email" class="form-control inputStyle" name="email" id="email" aria-describedby="emailHelp"
                    placeholder="Enter Your Email" required>
                <small id="emailError" class="form-text"></small>
        </div>

        <button type="submit" id="forgotBtn" class="btn btn-primary my-3" style="background-color: #dc8cdb; border: #dc8cdb;">Sendmail</button>


        <div class="text-center my-2">
            <p id="reset_password_msg" class="text-success my-3">
                <%=forgotpasswordMsg%>
            </p>
        </div>
        <div class="text-center">
            <p>If you have already Account! <a href="/login" class="text-primary"><strong style="color: #dc8cdb;">Login
                        here</strong></a>
            </p>
        </div>
        
    </form>


</body>

</html>