<!doctype html>
<html lang="en">

<head>
    <%- include('partials/headerLink') %>
        <title>HealthWell</title>
</head>

<body>
    <script>
        function validateForm(form) {
    
            var password = document.forms["myForm"]["password"].value;
            var cpassword = document.forms["myForm"]["cpassword"].value;
            if(password != cpassword){
                alert("** Password are not matching");
                return false;
            }
            if(password.length<5 || password.length>=30){
            alert("** Password must be between 5 and 30");
            return false;
            }
            if(cpassword.length<5 || cpassword.length>=30){
                alert("** CPassword must be between 5 and 30");
                return false;
            }
        }
        </script>

    <div class="container my-3">
        <h1 style="color: #dc8cdb;">Reset your password</h1>
    </div>

    <div class="container">

        <form action="/reset_password" method="POST" onsubmit="return validateForm(this)" name="myForm">

            <div class="form-group my-2">
                <label for="password">Enter Password</label>
                <input type="password" class="form-control inputStyle" name="password" id="password"
                    placeholder="Enter New Password" required>
            </div>

            <div class="form-group my-2">
                <label for="cpassword">Confirm Password</label>
                <input type="password" class="form-control inputStyle" name="cpassword" id="cpassword"
                    placeholder="Confirm Password" required>
            </div>

            <button type="submit" id="resetBtn" class="btn btn-primary my-3" value="Reset" style="background-color: #dc8cdb; border: #dc8cdb;">Reset Password</button>
        </form>
    </div>

</body>

</html>